<a href="https://colab.research.google.com/github/dharineeshramtp2000/Decision-Tree-Regression-Age-prediction-of-Abalone/blob/master/Abalone_AGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing the Dataset. Here we use the dataset from [ML Data](https://www.mldata.io/datasets/).
![](https://i.guim.co.uk/img/media/f41ac4cda2d896567a1f45a252af00fefd69080d/1146_0_3423_3424/master/3423.jpg?width=700&quality=85&auto=format&fit=max&s=0a76fc6f0999580f6e60db5d24318176)
---

Here we predict the **age of the Abalone** based on its physical measurements

In [53]:
Dataset = pd.read_csv("abalone_weka_dataset.csv")
X = Dataset.iloc[:,:-1].values
y = Dataset.iloc[:,-1].values
Dataset.describe()

            length     diameter  ...  shell_weight        rings
count  4177.000000  4177.000000  ...   4177.000000  4177.000000
mean      0.523992     0.407881  ...      0.238831     9.933684
std       0.120093     0.099240  ...      0.139203     3.224169
min       0.075000     0.055000  ...      0.001500     1.000000
25%       0.450000     0.350000  ...      0.130000     8.000000
50%       0.545000     0.425000  ...      0.234000     9.000000
75%       0.615000     0.480000  ...      0.329000    11.000000
max       0.815000     0.650000  ...      1.005000    29.000000

[8 rows x 8 columns]

Now, we need to convert the sex variable into one hot encodings

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
ct = ColumnTransformer([("Geography", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)

In order to prevent the Dummy Variable Trap

In [0]:
X = X[:, 1:]

Splitting the dataset into training and testing and performing a good shuffle of data

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X, y , test_size=0.2, random_state = 0, shuffle = True )

Now lets define our Decision Tree regression Model.
We know how trees work. We use these attributes in order to make thye splits and finally make the prediction using the leaf values of the tree.

![](https://lh4.googleusercontent.com/v9UQUwaQTAXVH90b-Ugyw2_61_uErfYvTBtG-RNRNB_eHUFq9AmAN_2IOdfOETnbXImnQVN-wPC7_YzDgf7urCeyhyx5UZmuSwV8BVsV8VnHxl1KtgpuxDifJ4pLE23ooYXLlnc)

Feel free to use the [Documnetaton for Decsion Tree Regression](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html)

In [57]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_depth=5)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=5,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

Now lets predict with our test set

In [0]:
y_pred = regressor.predict(X_test)

We can use many metrics to evaluate our model. We use the R2 or RMSE and many more.
Anyways we can chieve higher accuracy in our Random Forest. But still we must be careful in when to use Random Forest and when not to.